body {
    background-color: #D7DCDD;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.survey-form {
    font-size: larger;
    line-height: 1.4;
    background-color: #fff;
    width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-control {
    display: block;
    text-align: left;
}

.form-control label {
    display: block;
    margin-top: 10px;
}

.form-control input,
.form-control select {
    border: 1px solid #777;
    border-radius: 2px;
    padding: 10px;
    display: block;
    width: 95%;
}

.form-control textarea {
    padding-top: 5px;
    width: 100%;
    display: flex;
}

.heading {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}

.btn {
    color: gray;
    cursor: pointer;
    transition-duration: 1s;
    background-color: #e7eeeb;
    border: 1px solid #777;
    border-radius: 2px;
    font-size: 21px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

.btn:hover {
    color: red;
}